# Gradle output
.gradle
build

# Secret data files
src/main/resources/files/JarfStats
src/main/resources/files/ThisYearStats
src/main/resources/files/ZuipStats
src/main/resources/files/GenotenStats

#other stuff
out
.idea

