# Gradle output
.gradle
build

# Secret data files
src/main/resources/files/Accounts
src/main/resources/files/Transactions
src/main/resources/files/LineChartData
src/main/resources/files/JarfStats
src/main/resources/files/monthChartData
src/main/resources/files/yearChartData

#other stuff
out
.idea

